<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <script src="{{static_url('js/jquery-1.11.1.min.js')}}"></script>
</head>
<body>
    <form action='' method='post'>
        登录名: <input type="text" id="loginName" value=""/><br/>
        密码: <input type="text" id="loginPwd" value=""/><br/>
    </form>
    <input type='button' value='登录' onclick="login()" id="loginBut"/>
</body>
    <script>
        function login(){
            var loginName = $("#loginName").val();
            var loginPwd = $("#loginPwd").val();

            $("#loginBut").attr("disabled", true);
            $.ajax({
                url: "/websetup/user/login",
                type : "POST",
                dataType : "json",
                data : {
                    loginName : loginName,
                    loginPwd : loginPwd
                },
                success : function(data) {
                    if (data.status == 0) {
                        $("#loginBut").attr("disabled", false);

                        alert(JSON.stringify(data.data));
                    } else {
                        $("#loginBut").attr("disabled", false);

                        alert("登录失败");
                    }
                },
                error : function() {
                    alert("服务繁忙，请稍后再试。");
                    $("#loginBut").attr("disabled", false);
                }
            });
        }

    </script>
</html>