<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="{{static_url('js/jquery-1.11.1.min.js')}}"></script>
</head>
<body>
    <form action='' method='post'>
        用户名: <input type="text" id="userName" value=""/><br/>
        登录名: <input type="text" id="loginName" value=""/><br/>
        密码: <input type="text" id="loginPwd" value=""/><br/>
        年龄: <input type="text" id="age" value=""/><br/>
    </form>
    <input type='button' value='注册' onclick="register()" id="registerBut"/>
</body>
    <script>
        function register(){
            var userName = $("#userName").val();
            var loginName = $("#loginName").val();
            var loginPwd = $("#loginPwd").val();
            var age = $("#age").val();

            $("#registerBut").attr("disabled", true);
            $.ajax({
                url: "/websetup/user/register",
                type : "POST",
                dataType : "json",
                data : {
                    userName : userName,
                    loginName : loginName,
                    loginPwd: loginPwd,
                    age: age
                },
                success : function(data) {
                    if (data.status == 0) {
                        $("#registerBut").attr("disabled", false);
                        alert("成功");
                    } else if (data.status == -2){
                        $("#registerBut").attr("disabled", false);
                        alert("该登录名已存在");
                    } else {
                        $("#registerBut").attr("disabled", false);
                        alert("失败");
                    }
                },
                error : function() {
                    alert("服务繁忙，请稍后再试。");
                    $("#registerBut").attr("disabled", false);
                }
            });
        }

    </script>
</html>